@import'variables';
@import'mixins';

.aboutUsH1{
  		@include h1style($blueForText);
}
.aboutUs{
	padding:$paddingTopArticle 0 13% 0;
	position:relative;
	.leftDiv{
		width:60%;
		p{
			color: $drakBlueForText;
			padding:$paddingP;
		}
	}
	.rightDiv{
		width:320px;
		height:320px;
		display: flex;
  		justify-content: space-between;
	  	flex-wrap: wrap;
		position:absolute;
		top:0px;
		right:0px;
		transform:rotate(45deg);
		-webkit-transform: rotate(45deg);
		div{
			width:48%;
			height:48%;
		}
		.first{
			@include bgImage('../images/aboutimg.jpg');
			.aboutOverlay{
				@include overlay(relative, $darkBlue, 0.7);
			}
		}
		.second{
			background-color:$lightBlue; 
			margin:0 0 4% 4%;
		}
		.third{
			background-color: $transparentBg;
			}
		.fourth{
			@include bgImage('../images/aboutimg1.jpg');
			.aboutOverlay{
				@include overlay(relative, $darkBlue, 0.7);
			}
		}
	}
}
@media only screen and (max-width: 1135px) {
	.aboutUs{
		width:$articleWidth1135;
		.rightDiv{
		top:10%;
		width:280px;
		height:280px;
		}
	}
}
@media only screen and (max-width: 750px) {
	.aboutUs{
		.rightDiv{
		top:20%;
		width:240px;
		height:240px;
		}
	}	
}
@media only screen and (max-width: 600px) {
	.aboutUsH1{
	  		font-size:$fontSizeH1Mobile;
	}
	.aboutUs{
		.leftDiv{
			width:$contentWidthMobile;
			p{
				font-size:$fontSizeMobile;
				color: $drakBlueForText;
				padding:$paddingP;
			}
		}
		.rightDiv{
			width:$contentWidthMobile;
			margin:5% auto;
			height:500px;
			display: block;
			position:static;
			transform:rotate(0deg);
			-webkit-transform: rotate(0deg);
			div{
				width:100%;
				margin-bottom:5%;
			}
			.second, .third{
				display:none;
			}		
		}
	}	
}
