@import'variables';

@mixin bgImage($url){
	background-image: url($url);
  	background-size: cover;
}

@mixin h1style($color){
	border-bottom:4px solid $lightBlue;
  	display:inline-block;
  	padding:4% 0 0.1% (100-$articleWidth)/2;
  	font-weight: bold;
	color:$color;
	font-size:2em;
	margin-bottom:2%;
}

@mixin overlay($position, $color, $opacity){
	position: $position;
	width:100%;
	height:100%;
	background-color:$color;
	opacity: $opacity;
}

@mixin button($align,$margin,$bold, $padding){
	background-color: $transparentBg;
	align-self: $align;
	margin:$margin;
	padding:$padding;
	color:$white;
	font-weight:$bold;
	border: 1px solid $lightBlue;
	&:hover{
	 	background-color:$lightBlue;
	 	color:$darkBlue;
	 	transition: 0.7s;
 	}
}

@mixin navText($margin){
    display:none;
    margin-left:$margin;
}