@import'variables';
@import'mixins';

.nav{
    list-style-position: inside;
    font-size:2em;
    font-weight:bold;
    position:fixed;
    top:50%;
    right: 1%;
    transform:translate(0, -50%);
    z-index:9;
    a{
    	text-decoration:none;
    	color:white;
    }
    li{
    	line-height:1em;
    	.spanHeader{
    		@include navText(-155px);
    	}
    	.spanAbout{
    		@include navText(-175px);
    	}
    	.spanPortfolio{
    		@include navText(-225px);
    	}
    	.spanAdvisors{
    		@include navText(-205px);
    	}
    	.spanInvestors{
    		@include navText(-225px);
    	}
	    &:hover{
	    	color:$lightBlue;
	    	cursor: pointer;
	    	span{
	    		display:inline;
	    	}
	    }
    }
}

@media only screen and (max-width: 800px){
	.nav{
    display:none;   
	}	
}
