@import'variables';
@import'mixins';

.portfolioBg{
  	overflow:hidden;
	@include bgImage("../images/portfolioimg.jpg");
	.portfolio{
		@include overlay(relative, $darkBlue, 0.9);
		.portfolioH1{
  			@include h1style($white);
		}
		article{
			display:flex;
	  		justify-content: space-between;
		  	flex-wrap: wrap;
		  	.card{
				width:45%;
				padding:2%;
				margin-bottom:$marginBottomCard;
				&:hover{
					background-color: rgba(255,255,255,0.050980392156862744);
					box-shadow: 0px 21px 10.5px rgba(0,0,0,0.7);
					-webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    				-moz-box-shadow:inset 0px 0px 0px 10px #f00;
    				box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.2);
				}
				.imgDiv{
					width:100%;
					height:60px;
					img{
						height: 100%;			
						object-fit: contain;
					}
				}
				span{
					color:$lightBlue;
					display:block;
					padding:$paddingP;
				}
				p{
					color:$white;
					padding:$paddingP;
				}
				button{
				@include button(auto, 0, normal, 5px 40px);
				}
			}
			.quotation{
				margin:0px auto;
				text-align:center;
			}
		}	
	}	
}

@media only screen and (max-width: 1135px) {
	.portfolioBg{
		.portfolio{
			article{
				width:$articleWidth1135;  	
			}	
		}	
	}
}
@media only screen and (max-width: 850px) {
	.portfolioBg{
		.portfolio{
			article{
				.card{
					width:50%;
					.imgDiv{
						height:40px;
					}
				}  	
			}	
		}	
	}
}
@media only screen and (max-width: 600px) {
	.portfolioBg{
		.portfolio{
			.portfolioH1{
	  			font-size:$fontSizeH1Mobile;
			}
			article{
				display:block;
				text-align:center;
			  	.card{
					width:$contentWidthMobile;
					padding:2%;
					margin-bottom:15%;
					margin-top:10%;
			  		font-size:$fontSizeMobile;
					.imgDiv{
						height:80px;
					}
					button{
					@include button(auto, 0, normal, 5px 70px);
					font-size:1em;
					}
				}
			}	
		}	
	}
}